<input type="checkbox" id="visc-ef-overlay-toggle">
<div class="visc-ef-overlay">
    <div class="visc-ef-overlay-bg">

    </div>
    <div class="visc-ef-overlay-main">
        <div class="visc-ef-overlay-main__header text-center">
            <h1>A New Era For <br><span class="highlight">Global Clean Energy Markets</span></h1>
        </div>
        <div class="visc-ef-overlay-main__content">
            <a href="/staff/eric-heitz/" class="visc-ef-letter-author"></a>
            <p>Energy Foundation welcomes political and business leaders from around the world who are gathering for the <a href="http://globalclimateactionsummit.org/">Global Climate Action Summit</a> in San Francisco. The event, with its theme “Take Ambition to the Next Level,” celebrates the rapid market growth of clean energy technologies.  It also challenges international policymakers, businesses, investors, and civil society to accelerate the transition to affordable power while creating jobs and improving health.</p>
            <p>The global economy’s steady progress toward a low-carbon future is already delivering significant economic development and health benefits. We know consumers are eager for innovative solutions: rooftop solar powering a new class of affordable electric vehicles, homes that produce more energy than they use, clean fuel sources that don’t pollute our children’s air.</p>
            <p>States like Ohio, Nevada, Illinois, Virginia, Michigan, and California—along with cities and entrepreneurs—are already embracing the many benefits of clean energy solutions that should be available to everyone. We salute their leadership and welcome their participation in this international dialogue.</p>
            <p>We look forward to a productive and inspiring Summit. </p> 
            <div class="visc-ef-email-signature"></div>
            <p class="visc-ef-email-signature-text">Eric Heitz, CEO and Co-Founder, Energy Foundation</p>
        </div>
        <div class="visc-ef-overlay-main__content visc-ef-overlay-main__content--programs visc-ef-overlay-main__content--blue text-center">
            <h2>Local Impact. <span class="highlight">Global Change.</span></h2>
            <p>Energy Foundation’s priorities work to build a prosperous and healthy future powered by clean, reliable, and secure sources of energy.</p>
            <div class="visc-row">
                <div class="column xs-100 md-50 visc-ef-program">
                    <svg width="90px" height="94px" viewBox="0 0 90 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-671.000000, -1985.000000)" fill="#EFBF07">
                                <g id="Energy-Optimization" transform="translate(671.000000, 1985.000000)">
                                    <path d="M15.0707143,51.3787389 C15.0235714,50.6844532 15,49.9880246 15,49.2851675 C15,35.8323104 24.0471429,23.9373104 36.9985714,20.3630246 C38.1407143,20.0458818 38.8092857,18.8673104 38.4942857,17.7251675 C38.1792857,16.5830246 36.99,15.9273104 35.8585714,16.2315961 C21.0535714,20.3158818 10.7142857,33.9101675 10.7142857,49.2851675 C10.7142857,50.0844532 10.7442857,50.8815961 10.7957143,51.6680246 C11.0507143,55.3880246 9.21214286,58.9730246 6.04928571,61.1780246 C4.87714286,57.3401675 4.28571429,53.3480246 4.28571429,49.2851675 C4.28571429,29.0630246 18.8742857,12.2223104 38.5714286,9.11731035 L38.5714286,10.7137389 C38.5714286,11.5794532 39.0921429,12.3615961 39.8935714,12.6937389 C40.1592857,12.8030246 40.4378571,12.8565961 40.7142857,12.8565961 C41.2714286,12.8565961 41.82,12.6380246 42.2292857,12.2287389 L46.515,7.94302464 C47.3528571,7.1051675 47.3528571,5.75088178 46.515,4.91302464 L42.2292857,0.627310352 C41.6164286,0.0144532096 40.695,-0.167689648 39.8935714,0.162310352 C39.0921429,0.492310352 38.5714286,1.27659607 38.5714286,2.14231035 L38.5714286,4.78873892 C16.4571429,7.94088178 0,26.7080246 0,49.2851675 C0,54.7065961 0.953571429,60.0080246 2.83714286,65.0437389 C3.04285714,65.5944532 3.48857143,66.0273104 4.03071429,66.2565961 C4.29,66.3680246 4.575,66.4215961 4.86,66.4215961 C5.16214286,66.4215961 5.46642857,66.3615961 5.745,66.2394532 C11.7535714,63.6208818 15.5035714,57.6465961 15.0707143,51.3787389" id="Fill-52"></path>
                                    <path d="M76.8753877,73.670291 C71.756102,70.250291 65.1753877,70.235291 59.696102,73.6338624 C54.9646734,76.5695767 49.5025305,78.1210053 43.9053877,78.1210053 C36.3153877,78.1210053 29.0725305,75.2817196 23.5096734,70.1238624 C22.6418162,69.3181481 21.2875305,69.3674339 20.4818162,70.2374339 C19.6782448,71.105291 19.7296734,72.4595767 20.5975305,73.265291 C26.9532448,79.160291 35.231102,82.4067196 43.9053877,82.4067196 C50.3018162,82.4067196 56.5439591,80.6324339 61.9568162,77.2745767 C65.5053877,75.0760053 69.6625305,74.7995767 73.1382448,76.4624339 C65.4818162,84.3545767 54.9668162,88.835291 43.9053877,88.835291 C31.8925305,88.835291 20.7946734,83.7010053 13.0439591,74.6688624 L14.6789591,73.5224339 C15.3882448,73.025291 15.731102,72.1510053 15.5425305,71.3024339 C15.356102,70.4581481 14.6746734,69.8067196 13.8218162,69.6588624 L7.85395909,68.6067196 C6.67538767,68.3924339 5.57610195,69.1767196 5.37253052,70.3424339 L4.31824481,76.310291 C4.16824481,77.165291 4.54538767,78.0245767 5.27610195,78.4917196 C5.62967338,78.7145767 6.02824481,78.8260053 6.42895909,78.8260053 C6.85753052,78.8260053 7.28824481,78.6974339 7.65895909,78.4381481 L9.51038767,77.1417196 C18.0882448,87.3288624 30.4803877,93.1210053 43.9053877,93.1210053 C57.0689591,93.1210053 69.5318162,87.380291 78.101102,77.3731481 C78.4996734,76.910291 78.6796734,76.2931481 78.5939591,75.6867196 C78.5125305,75.080291 78.1718162,74.5381481 77.6639591,74.1995767 L76.8753877,73.670291" id="Fill-53"></path>
                                    <path d="M88.725,65.841383 L86.8478571,64.9670973 C88.9328571,59.7149544 90,54.1692401 90,48.4285259 C90,27.1092401 74.8607143,8.56281157 53.9978571,4.32852586 C53.3678571,4.19995443 52.7142857,4.36495443 52.215,4.76995443 C51.7178571,5.17495443 51.4285714,5.78566872 51.4285714,6.42852586 L51.4285714,8.56066872 C51.4307143,14.1878116 54.5335714,19.4035259 59.5242857,22.1720973 C69.0707143,27.4649544 75,37.5256687 75,48.4285259 C75,51.1478116 74.6378571,53.8392401 73.9221429,56.4278116 C73.6071429,57.5720973 74.2757143,58.7506687 75.4157143,59.0656687 C76.56,59.376383 77.7385714,58.7120973 78.0535714,57.5720973 C78.8721429,54.6085259 79.2857143,51.531383 79.2857143,48.4285259 C79.2857143,35.9720973 72.51,24.471383 61.605,18.4242401 C58.1464286,16.5085259 55.935,12.9878116 55.7292857,9.14352586 C73.2557143,13.9178116 85.7142857,30.0320973 85.7142857,48.4285259 C85.7142857,53.5370973 84.7778571,58.4720973 82.9564286,63.1520973 L80.955,62.2199544 C80.1664286,61.851383 79.2407143,61.9928116 78.6021429,62.5799544 C77.9635714,63.1670973 77.7385714,64.0799544 78.0364286,64.8942401 L80.1107143,70.5899544 C80.4257143,71.4599544 81.2485714,71.9999544 82.1228571,71.9999544 C82.3671429,71.9999544 82.6157143,71.9570973 82.8557143,71.8692401 L88.5514286,69.7970973 C89.3657143,69.501383 89.9228571,68.7406687 89.9592857,67.8770973 C89.9978571,67.011383 89.5092857,66.2078116 88.725,65.841383" id="Fill-54"></path>
                                    <path d="M30.272871,54.6179156 C30.6521567,55.2950585 31.367871,55.7150585 32.1435853,55.7150585 L42.857871,55.7150585 C44.042871,55.7150585 45.0007282,54.7572013 45.0007282,53.5722013 C45.0007282,52.3872013 44.042871,51.4293442 42.857871,51.4293442 L35.9792996,51.4293442 L46.1021567,34.9786299 L45.0135853,44.7650585 C44.9471567,45.3693442 45.1400139,45.9757728 45.5471567,46.4300585 C45.9521567,46.8843442 46.5350139,47.1436299 47.1435853,47.1436299 L54.0221567,47.1436299 L43.8992996,63.5922013 L44.0364424,62.3793442 C44.1650139,61.2050585 43.3185853,60.1443442 42.1421567,60.0136299 C40.9892996,59.891487 39.9071567,60.731487 39.7764424,61.9079156 L38.5850139,72.6222013 C38.4735853,73.616487 39.0692996,74.5593442 40.0185853,74.8829156 C40.247871,74.9622013 40.4835853,75.0007728 40.7150139,75.0007728 C41.4435853,75.0007728 42.1421567,74.6279156 42.5407282,73.9807728 L59.6835853,46.1236299 C60.0907282,45.4636299 60.107871,44.6322013 59.7285853,43.9550585 C59.3492996,43.2779156 58.6335853,42.8579156 57.857871,42.8579156 L49.5371567,42.8579156 L51.4164424,25.9507728 C51.527871,24.9543442 50.9321567,24.0136299 49.982871,23.6879156 C49.0314424,23.3622013 47.987871,23.7372013 47.4607282,24.5922013 L30.317871,52.4493442 C29.9107282,53.1093442 29.8935853,53.9407728 30.272871,54.6179156" id="Fill-55"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h3>Energy Optimization</h3>
                </div>
                <div class="column xs-100 md-50 visc-ef-program">
                    <svg width="74px" height="94px" viewBox="0 0 74 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-1022.000000, -2176.000000)" fill="#009DCD">
                                <g id="Power-Icon" transform="translate(1022.000000, 2176.000000)">
                                    <path d="M36.6666667,64.7423594 L23.839787,55.2535497 L31.7392057,49.5876728 C32.6558479,48.9290402 32.8676941,47.6526838 32.2138226,46.7342799 C31.5579142,45.8117852 30.2848001,45.6011045 29.3722319,46.2576917 L21.9535411,51.5778888 L24.4447709,37.2863791 L45.6680929,52.5085653 C46.0266019,52.7642457 46.4401093,52.8890177 46.8495428,52.8890177 C47.4850814,52.8890177 48.1124721,52.590383 48.5096837,52.0319771 C49.1635551,51.1135732 48.9517089,49.8351714 48.0350667,49.1785842 L40.1723138,43.5392981 L48.8885625,37.2863791 L51.7321902,53.5967409 L36.6666667,64.7423594 Z M24.4447709,12.2726575 L11.3123438,12.2726575 L28.9668723,4.09088585 L44.366461,4.09088585 L62.0209895,12.2726575 L48.6644944,12.2726575 L48.2469129,9.87539844 C48.0533996,8.76267748 47.0002796,8.02222715 45.890124,8.21245334 C44.7820055,8.40677042 44.0405438,9.46630985 44.2340571,10.5790308 L44.5294196,12.2726575 L34.629684,12.2726575 C33.5052696,12.2726575 32.5927014,13.189016 32.5927014,14.3181005 C32.5927014,15.447185 33.5052696,16.3635434 34.629684,16.3635434 L43.6351843,16.3635434 L36.6666667,22.0887381 L28.2926311,15.2078681 L29.0992762,10.5790308 C29.2927895,9.46630985 28.5513279,8.40677042 27.4432093,8.21245334 C26.3452757,8.02222715 25.2799338,8.76267748 25.0864204,9.87539844 L24.660691,12.3156118 C24.5853227,12.3094755 24.5221762,12.2726575 24.4447709,12.2726575 Z M27.7956073,34.6620758 L31.8451288,31.3341401 C32.7169573,30.6202806 32.8432503,29.3316515 32.1323433,28.456202 C31.4193994,27.5807524 30.1361003,27.4539349 29.2663088,28.1677945 L25.4938169,31.268686 L27.4859859,19.8305691 L42.6187299,32.2648167 C42.9976087,32.575724 43.4538928,32.7270868 43.9081399,32.7270868 C44.4988649,32.7270868 45.0834789,32.4714064 45.4868015,31.9764092 C46.1977084,31.1030051 46.0693785,29.8143761 45.1995869,29.098471 L39.8830622,24.7314504 L45.8473474,19.8305691 L48.1083981,32.8027682 L36.6646297,41.0234033 L27.7956073,34.6620758 Z M66.6245702,82.4170317 C66.2436545,82.0324885 65.7242239,81.8177169 65.1844235,81.8177169 L60.784541,81.8177169 L49.3774383,16.3635434 L71.2953714,16.3635434 C72.2527532,16.3635434 73.0797682,15.6946836 73.2855034,14.7558253 C73.4912387,13.8190124 73.0186587,12.8637905 72.1488671,12.4608383 L45.6680929,0.188180749 C45.4012482,0.0634087306 45.1099597,0 44.8145972,0 L28.5187361,0 C28.2233737,0 27.9320851,0.0634087306 27.6652404,0.188180749 L1.1844662,12.4608383 C0.314674617,12.8637905 -0.157905353,13.8190124 0.0478298926,14.7558253 C0.253565138,15.6946836 1.08058009,16.3635434 2.03796192,16.3635434 L23.955895,16.3635434 L14.2904125,71.8216374 C14.0968991,72.9343583 14.8383608,73.9938978 15.9464793,74.1882148 C16.0646243,74.2107147 16.1827693,74.2209419 16.2988773,74.2209419 C17.270518,74.2209419 18.1301247,73.5214004 18.3032682,72.5273152 L20.8169048,58.0987608 L49.5709516,79.3734127 C49.9355715,79.6413657 50.3592639,79.772274 50.7788823,79.772274 C51.404236,79.772274 52.0214417,79.4838666 52.4206903,78.9397788 C53.0888206,78.0295567 52.8932703,76.7491094 51.98885,76.0802495 L40.1010194,67.284845 L52.5164285,58.0987608 L56.6494663,81.8177169 L20.4604328,81.8177169 L32.054938,73.2370839 C32.9613953,72.568224 33.1549086,71.2877768 32.4867783,70.3775547 C31.818648,69.4673326 30.5455339,69.2750609 29.6390766,69.9439208 L13.5896904,81.8177169 L8.14890982,81.8177169 C7.60910942,81.8177169 7.08967885,82.0324885 6.7087631,82.4170317 L2.63479784,86.5079176 C1.83833763,87.3076858 1.83833763,88.6004057 2.63479784,89.4001739 C3.43125804,90.199942 4.71863107,90.199942 5.51509128,89.4001739 L8.99222063,85.9086028 L64.3411127,85.9086028 L67.8182421,89.4001739 C68.2154537,89.7990352 68.7369212,89.9994886 69.2583888,89.9994886 C69.7798563,89.9994886 70.3013239,89.7990352 70.6985355,89.4001739 C71.4949957,88.6004057 71.4949957,87.3076858 70.6985355,86.5079176 L66.6245702,82.4170317 Z" id="Fill-5"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h3>Power</h3>
                </div>
            </div>
            <div class="visc-row">
                <div class="column xs-100 md-50 visc-ef-program">
                    <svg width="100px" height="94px" viewBox="0 0 100 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-666.000000, -2176.000000)" fill="#13838F">
                                <g id="Transportaiotn-icon" transform="translate(666.000000, 2176.000000)">
                                    <path d="M22.2727273,82.5454545 C23.5272727,82.5454545 24.5454545,81.5272727 24.5454545,80.2727273 C24.5454545,79.0181818 23.5272727,78 22.2727273,78 C21.0181818,78 20,79.0181818 20,80.2727273 C20,81.5272727 21.0181818,82.5454545 22.2727273,82.5454545" id="Fill-24"></path>
                                    <path d="M50.2727273,59 C49.0181818,59 48,60.0181818 48,61.2727273 C48,62.5272727 49.0181818,63.5454545 50.2727273,63.5454545 C51.5272727,63.5454545 52.5454545,62.5272727 52.5454545,61.2727273 C52.5454545,60.0181818 51.5272727,59 50.2727273,59" id="Fill-26"></path>
                                    <path d="M95.4545455,75 C95.4545455,76.2522727 94.4363636,77.2727273 93.1818182,77.2727273 L88.4045455,77.2727273 C87.3522727,72.0931818 82.7590909,68.1818182 77.2727273,68.1818182 C71.7863636,68.1818182 67.1931818,72.0931818 66.1409091,77.2727273 L43.1818182,77.2727273 L43.1818182,54.5454545 L63.6363636,54.5454545 C64.8931818,54.5454545 65.9090909,53.5272727 65.9090909,52.2727273 C65.9090909,51.0181818 64.8931818,50 63.6363636,50 L43.1818182,50 L43.1818182,36.3636364 L52.1113636,36.3636364 C54.5386364,36.3636364 56.8227273,37.3090909 58.5409091,39.025 L70.4727273,50.9590909 C72.6977273,53.1863636 75.5113636,54.6909091 78.6022727,55.3113636 L89.9727273,57.5840909 C93.1477273,58.2204545 95.4545455,61.0318182 95.4545455,64.2704545 L95.4545455,75 Z M77.2727273,86.3636364 C73.5136364,86.3636364 70.4545455,83.3045455 70.4545455,79.5454545 C70.4545455,75.7863636 73.5136364,72.7272727 77.2727273,72.7272727 C81.0318182,72.7272727 84.0909091,75.7863636 84.0909091,79.5454545 C84.0909091,83.3045455 81.0318182,86.3636364 77.2727273,86.3636364 Z M22.7272727,72.7272727 C26.4863636,72.7272727 29.5454545,75.7863636 29.5454545,79.5454545 C29.5454545,83.3045455 26.4863636,86.3636364 22.7272727,86.3636364 C18.9681818,86.3636364 15.9090909,83.3045455 15.9090909,79.5454545 C15.9090909,75.7863636 18.9681818,72.7272727 22.7272727,72.7272727 Z M90.8636364,53.1272727 L79.4954545,50.8545455 C77.2863636,50.4113636 75.2772727,49.3363636 73.6886364,47.7454545 L61.7545455,35.8113636 C59.175,33.2363636 55.75,31.8181818 52.1113636,31.8181818 L43.1818182,31.8181818 L43.1818182,29.5454545 C43.1818182,27.0386364 45.2204545,25 47.7272727,25 L61.3636364,25 C66.3772727,25 70.4545455,20.9227273 70.4545455,15.9090909 C70.4545455,10.8954545 66.3772727,6.81818182 61.3636364,6.81818182 L36.075,6.81818182 C35.0659091,2.90227273 31.5,0 27.2727273,0 L22.7272727,0 C21.4704545,0 20.4545455,1.01818182 20.4545455,2.27272727 L15.9090909,2.27272727 C14.6522727,2.27272727 13.6363636,3.29090909 13.6363636,4.54545455 C13.6363636,5.8 14.6522727,6.81818182 15.9090909,6.81818182 L20.4545455,6.81818182 L20.4545455,11.3636364 L15.9090909,11.3636364 C14.6522727,11.3636364 13.6363636,12.3818182 13.6363636,13.6363636 C13.6363636,14.8909091 14.6522727,15.9090909 15.9090909,15.9090909 L20.4545455,15.9090909 C20.4545455,17.1636364 21.4704545,18.1818182 22.7272727,18.1818182 L27.2727273,18.1818182 C28.5295455,18.1818182 29.5454545,17.1636364 29.5454545,15.9090909 C29.5454545,14.6545455 28.5295455,13.6363636 27.2727273,13.6363636 L25,13.6363636 L25,4.54545455 L27.2727273,4.54545455 C29.7795455,4.54545455 31.8181818,6.58409091 31.8181818,9.09090909 C31.8181818,10.3454545 32.8340909,11.3636364 34.0909091,11.3636364 L61.3636364,11.3636364 C63.8704545,11.3636364 65.9090909,13.4022727 65.9090909,15.9090909 C65.9090909,18.4159091 63.8704545,20.4545455 61.3636364,20.4545455 L47.7272727,20.4545455 C42.7136364,20.4545455 38.6363636,24.5318182 38.6363636,29.5454545 L38.6363636,31.8181818 L30.6818182,31.8181818 C26.4136364,31.8181818 22.3340909,33.8568182 19.7727273,37.2727273 L14.6590909,44.0909091 C13.9045455,45.0954545 14.1090909,46.5204545 15.1136364,47.2727273 C16.1204545,48.0295455 17.5454545,47.8227273 18.2954545,46.8181818 L23.4090909,40 C25.1181818,37.7227273 27.8363636,36.3636364 30.6818182,36.3636364 L38.6363636,36.3636364 L38.6363636,50 L6.81818182,50 C3.05909091,50 0,53.0590909 0,56.8181818 L0,70.4545455 C0,76.7204545 5.09772727,81.8181818 11.3636364,81.8181818 C11.4431818,81.8181818 11.5090909,81.7795455 11.5886364,81.7727273 C12.6295455,86.975 17.225,90.9090909 22.7272727,90.9090909 C28.9931818,90.9090909 34.0909091,85.8113636 34.0909091,79.5454545 C34.0909091,73.2795455 28.9931818,68.1818182 22.7272727,68.1818182 C17.225,68.1818182 12.6295455,72.1159091 11.5886364,77.3181818 C11.5090909,77.3113636 11.4431818,77.2727273 11.3636364,77.2727273 C7.60454545,77.2727273 4.54545455,74.2136364 4.54545455,70.4545455 L4.54545455,56.8181818 C4.54545455,55.5659091 5.56363636,54.5454545 6.81818182,54.5454545 L38.6363636,54.5454545 L38.6363636,79.5454545 C38.6363636,80.8 39.6522727,81.8181818 40.9090909,81.8181818 L66.1409091,81.8181818 C67.1931818,86.9977273 71.7863636,90.9090909 77.2727273,90.9090909 C82.7590909,90.9090909 87.3522727,86.9977273 88.4045455,81.8181818 L93.1818182,81.8181818 C96.9409091,81.8181818 100,78.7590909 100,75 L100,64.2704545 C100,58.8727273 96.1590909,54.1863636 90.8636364,53.1272727 Z" id="Fill-27"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h3>Transportation</h3>
                </div>
                <div class="column xs-100 md-50 visc-ef-program">
                        <svg width="82px" height="94px" viewBox="0 0 82 83" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                <g transform="translate(-1009.000000, -1990.000000)" stroke="#83A807" stroke-width="4">
                                    <g id="Markets" transform="translate(1011.000000, 1993.000000)">
                                        <path d="M11.2666667,15.1304706 L17.4959608,21.0584706 C20.9570196,24.3528235 26.4323137,24.2167059 29.7236078,20.7556471 C33.0179608,17.2961176 32.8818431,11.8223529 29.4223137,8.528 L23.1914902,2.6 L11.2666667,15.1304706 Z" id="Path"></path>
                                        <path d="M20.1938431,6.02129412 L13.8666667,0 L20.1938431,6.02129412 Z" id="Path"></path>
                                        <path d="M14.1256471,12.0864314 L7.8,6.06666667 L14.1256471,12.0864314 Z" id="Path"></path>
                                        <path d="M62.1197179,37.065616 C56.667365,42.1417337 48.1699532,38.5843219 46.3591297,34.1597337 C44.5498356,29.7351454 48.6731297,23.8622042 55.5677179,21.0434984 C64.9078356,17.2230278 77.9017179,24.4892631 77.9017179,24.4892631 C77.9017179,24.4892631 67.9743062,31.6147925 62.1197179,37.065616 Z" id="Path"></path>
                                        <path d="M16.5008235,32.5127451 C23.0925882,31.0307451 29.146,33.9672157 29.8602353,38.2449804 C30.5714118,42.5227451 23.9352941,49.8073333 17.4918824,47.7762745 C8.28482353,44.8719216 0.168235294,47.5468627 0.168235294,47.5468627 C0.168235294,47.5468627 7.29835294,34.5820392 16.5008235,32.5127451 Z M0,77.8521569 C8.01564706,73.9858039 18.8637647,71.6167451 30.8176471,71.6167451 C42.302,71.6167451 52.7677647,73.8053333 60.6794118,77.4040392 L0,77.8521569 Z M33.0031765,71.6167451 C33.0031765,71.6167451 18.0363529,61.8346275 33.0031765,49.327098 C47.5784706,37.1468627 34.3490588,25.1333333 34.3490588,25.1333333 M47.7191765,35.357451 C47.7191765,35.357451 53.4009412,27.149098 62.8557647,27.3142745 M29.8602353,38.2449804 C29.8602353,38.2449804 21.0187059,36.8165098 15.704,40.4458039" id="Stroke-11"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h3>Markets</h3>
                    </div>
            </div>
        </div>
        <div class="visc-ef-overlay-main__footer text-center">
            <h2>New Site <span class="highlight">Coming Soon</span></h2>
            <p>Watch this space for our new website, Fall 2018.</p>
        </div>
    </div>
    <label class="visc-ef-overlay-close" for="visc-ef-overlay-toggle" tabindex="0">
        <svg width="42px" height="42px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1282.000000, -54.000000)" fill="#FFFFFF">
                    <polygon id="Fill-1" points="1324 55.7833127 1322.15519 54 1302.96925 73.1859426 1283.78331 54 1282 55.7833127 1301.18594 74.9692553 1282 94.1551978 1283.78331 96 1302.96925 76.8140574 1322.15519 96 1324 94.1551978 1304.81406 74.9692553"></polygon>
                </g>
            </g>
        </svg>
    </label>
</div>