
body {
    position: relative;
}

/* Helpers */

.visc-ef-overlay .highlight {
    color: #009DCD;
}

.visc-ef-overlay .text-center {
    text-align: center;
}

.visc-ef-overlay {
    background: rgba(9,26,42,0.80);
    position: absolute;
    z-index: 999998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
    -webkit-font-smoothing: antialiased;
}

.visc-ef-overlay p a {
    font-family: "Roboto" !important;
    color: #009DCD;
    text-decoration: underline;
    font-size: 19px !important;
    line-height: 30px !important;
}
    .visc-ef-overlay p a:visited {
        color: #009DCD;
    }

.visc-ef-overlay h1, .visc-ef-overlay h2, .visc-ef-overlay h3 {
    text-transform: uppercase;
    color: #164169;
    font-family: "alternate-gothic-no-2-d",sans-serif;
    font-weight: normal;
}

.visc-ef-overlay h1 {
    font-size: 76px;
    line-height: 66px;
    margin-bottom: 0;
}

.visc-ef-overlay h2 {
    font-size: 48px;
    line-height: 40px;
    margin-bottom: 25px;
}

.visc-ef-overlay h3 {
    font-size: 32px;
    line-height: 32px;
    padding: 0;
}

.visc-ef-overlay p {
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 25px;
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    color: #091A2A;
}

#visc-ef-overlay-toggle {
    display: none;
}

.visc-ef-overlay-close {
    position: absolute;
    top: 15px;
    right: 15px;
    transition: opacity 0.3s;
}

.visc-ef-overlay-close:hover {
    cursor: pointer;
    opacity: 0.7;
}

.visc-ef-overlay-close svg {
    width: 20px;
    height: 20px;
}

@media (min-width: 768px) {
    .visc-ef-overlay-close svg {
        width: 35px;
        height: 35px;
    }
}

#visc-ef-overlay-toggle:checked ~ .visc-ef-overlay {
    z-index: -1;
    opacity: 0; 
}

.visc-ef-overlay-main__header {
    position: relative;
    padding: 60px 15px 125px;
    background-image: url('../images/ef-overlay-masthead.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

    @media (min-width: 768px) {
        .visc-ef-overlay-main__header {
            padding: 105px 50px 125px;
        
        }
    }

.visc-ef-overlay-main__header h1 {
    position: relative;
    color: #fff;
}

.visc-ef-overlay-main__header .highlight {
    color: #C9E6E9;
}

@media (min-width: 768px) {
    .visc-ef-overlay-main__header h1 {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}

.visc-ef-overlay-main__header:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-image: linear-gradient(-180deg, rgba(0,204,232,0.60) 27%, rgba(22,65,105,0.60) 81%);

}

.visc-ef-overlay-main {
    position: relative;
    z-index: 999999;
    background: white;
    width: 90%;
    max-width: 992px;
    margin: 55px auto;
    height: calc(100% - 110px);
    overflow-y: scroll;
}

@media (min-width: 768px) {
    .visc-ef-overlay-main {
        width: 60%;
    }
}

.visc-ef-overlay-main__content {
    padding: 60px 30px;
 
}

    @media (min-width: 768px) {
        .visc-ef-overlay-main__content {
            padding: 60px 45px;
         
        }
    }

    .visc-ef-overlay-main__content .visc-ef-email-signature {
        width: 176px;
        height: 122px;
        background-image: url('../images/eric-signature.png');
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 15px;
    }

    .visc-ef-overlay-main__content .visc-ef-email-signature-text {
        font-weight: bold;
    }

    .visc-ef-overlay-main__content--blue {
        background-image: linear-gradient(0deg, #FFFFFF 0%, #F1F8F9 100%);
    }

    .visc-ef-overlay-main__content--map h2 {
        position: relative;
    }

    .visc-ef-overlay-main__content--programs p {
        margin-bottom: 50px;
    }

    @media (min-width: 768px) {
        .visc-ef-overlay-main__content--programs h2 {
            max-width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
    
        .visc-ef-overlay-main__content--programs p {
            max-width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
.visc-ef-letter-author {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: white;
    background-image: url('../images/Eric_Heitz.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #fff;
    border-radius: 50%;
    transform: translateY(-135px);
    margin-bottom: -100px;
}

.visc-ef-program {
    margin-bottom: 45px;
}

.visc-ef-program svg {
    margin-bottom: 25px;
}

.visc-ef-overlay-main__footer {
    padding: 60px 50px 60px;
    background: #164169;
    
}

.visc-ef-overlay-main__footer h2, .visc-ef-overlay-main__footer p {
    color: #fff;
}

/* Grid */

.visc-ef-overlay .visc-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}

.visc-ef-overlay .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.visc-ef-overlay .column.xs-100 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .visc-ef-overlay .column.md-50 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }    
}




/* Print */

@media print {
    .visc-ef-overlay {
        display: none;
    }
}